<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.codeclan.com.magic8ball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".EightBall"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".EightBallAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".EightBall">

        </activity>

        <activity android:name=".ChoicesList"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>


        <activity android:name=".WookieAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".WookieAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".WookieAsk">

        </activity>


        <activity android:name=".PikaAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".PikaAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>


        <activity android:name=".HomerAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".HomerAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>


        <activity android:name=".PoniesAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".PoniesAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>


        <activity android:name=".FamilyGuyAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".FamilyGuyAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>


        <activity android:name=".GladosAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".GladosAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>


        <activity android:name=".ArnieAsk"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".ArnieAnswer"
            android:label="@string/app_name"
            android:parentActivityName=".PikaAsk">

        </activity>



    </application>


</manifest>
